@import helper._
@(tweetText: String, message: String)(implicit request: RequestHeader)

@main(title = "Tweet Generated!") {
    <div class="container">
        <section id="top" class="row">
            <div class="col-sm-12">
                <h1>@message</h1>
            </div>
        </section>

        <div id="content" class="row justify-content-center">
            <article class="col-sm-8">
                <h1>ツイート生成結果</h1>
                <p>@tweetText</p>
                @form(tweet.routes.TweetController.post()){
                    @CSRF.formField
                    <input type="hidden" name="tweetText" value="@tweetText" class="">
                    <button class="btn btn-info badge-pill">ツイートする</button>
                }
            </article>
        </div>
    </div>
}