@import application.common.TwitterSession
@import helper._

@(message: String, style: String = "scala", twitterSession: Option[TwitterSession])(implicit request: RequestHeader)

@main(title = "TOP") {
    <div class="container">
        <section class="row">
            <div class="col-sm-12">
                <h1>@message</h1>
            </div>
        </section>

        <div class="row justify-content-md-center">
            <article class="col-sm-8">
                <h1 class="text-center">○○っぽいツイートジェネレータ</h1>
                <p>
                    ツイ廃を目指すあなたは、ときに投稿内容に迷うことがあるでしょう。つぶやきたい、けどつぶやく内容がない。
                    そんなあなたはこのツイートジェネレータを使ってください。あなたが過去につぶやいた内容をもとに、自動でつぶやく内容を作ることができます。
                    さあ、適当なツイートをこいつに作らせる間に、あなたはユニークでバズるツイートを考えるんだ。
                </p>
            </article>
        </div>

        <div class="row justify-content-center">
            @twitterSession match {
                case Some(session) => {
                    <a></a>
                    @form(api.routes.TweetController.post(), 'id -> "newTweetForm1"){
                        @CSRF.formField
                        <input type="hidden" name="twitterId" value="@session.getTwitterId()">
                        <button class="btn btn-info badge-pill mr-1" data-toggle="modal" data-target="#exampleModalCenter">あなた風のツイートを生成</button>
                    }
                    @form(api.routes.TweetController.post(), 'id -> "newTweetForm2"){
                        @CSRF.formField
                        <input type="hidden" name="twitterId" value="ochyai">
                        <button class="btn btn-info badge-pill ml-1" data-toggle="modal" data-target="#exampleModalCenter">落合陽一風のツイートを生成</button>
                    }
                }
                case _ => {
                    <a href="@auth.routes.AuthController.login()" class="btn btn-info badge-pill center" role="button">ログインしてツイ廃に一歩近づく</a>
                }
            }
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">生成されたツイート</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="tweetText"></p>
                    </div>
                    <div class="modal-footer">
                        @form(api.routes.TweetController.post(), 'id -> "postTweetForm"){
                            @CSRF.formField
                            <input type="hidden" name="tweetText" value="">
                            <button id="cancelButton" type="button" class="btn btn-secondary badge-pill" data-dismiss="modal">キャンセル</button>
                            <button id="tweetButton" class="btn btn-primary badge-pill" disabled>ツイートする</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/main.js")'></script>
}
