@import org.webjars.play.WebJarsUtil
@import application.common.TwitterSession
@import play.cache.SyncCacheApi
@this(cacheApi: SyncCacheApi, webJarsUtil: WebJarsUtil)
@(message: String, tweetText: String, style: String = "scala",
        session: TwitterSession = (cacheApi.get("twitter_user")).asInstanceOf[TwitterSession])
@defining(play.core.PlayVersion.current) { version =>

<div class="container">
<section id="top" class="row">
  <div class="col-sm-12">
    <h1>@message</h1>
  </div>
</section>

<div id="content" class="row">
<article class="col-sm-12">

  <h1>ツイート生成結果</h1>
    <p>@tweetText</p>
    @form.helper(@routes.Controller.send_tweet){
      <input type="hidden" name="tweetText" value="@tweetText">
      <button class="btn btn-info badge-pill">ツイートする</button>
  }
</article>
</div>
</div>
}
@webJarsUtil.locate("bootstrap.min.css").css()
@webJarsUtil.locate("bootstrap.min.js").script()
