@import org.webjars.play.WebJarsUtil
@import application.common.TwitterSession
@import play.cache.SyncCacheApi
@this(cacheApi: SyncCacheApi, webJarsUtil: WebJarsUtil)
@(message: String, style: String = "scala",
        session: TwitterSession = (cacheApi.get("twitter_user")).asInstanceOf[TwitterSession])
@defining(play.core.PlayVersion.current) { version =>

<div class="container">
<section id="top" class="row">
  <div class="col-sm-12">
    <h1>@message</h1>
  </div>
</section>

<div id="content" class="row">
<article class="col-sm-12">

  <h1>トップ</h1>
    @if(session == null) {
        <a href="@routes.TwitterController.login" class="btn btn-info badge-pill" role="button">ログイン</a>
    } else {
      @form.helper(@routes.TweetController.new_tweet){
        <input type="hidden" name="twitterId" value="@session.twitterId">
        <button class="btn btn-info badge-pill">あなた風のツイートを生成</button>
      }
      @form.helper(@routes.TweetController.new_tweet){
        <input type="hidden" name="twitterId" value="ochyai">
        <button class="btn btn-info badge-pill">落合陽一風のツイートを生成</button>
      }
    }
</article>
</div>
</div>
}
@webJarsUtil.locate("bootstrap.min.css").css()
@webJarsUtil.locate("bootstrap.min.js").script()
